.card {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: none;
  transition: height 0.5s ease-in-out; /* Transición para animar la altura */
  overflow: hidden;
  width: 400px; /* Ancho de la tarjeta */
  height: 225px; /* Altura inicial de la tarjeta */
}

.card.expanded {
  height: 300px; /* Altura de la tarjeta cuando está expandida */
}

.card-header {
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  border-bottom: none;
  padding-bottom: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.card-footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0px;
  padding-bottom: 10px;
  background-color: transparent;
  border: none;
  opacity: 0; /* Inicialmente oculto */
  transform: translateX(-100%); /* Posición inicial fuera de la vista */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Transición para la animación */
}

.card.expanded .card-footer.visible {
  opacity: 1; /* Visible cuando está expandido */
  transform: translateX(0); /* Posición final */
}

.icon {
  margin-right: 10px;
}

.cancel-button,
.create-button {
  padding: 5px 15px;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
  background-color: #ffffff; /* Fondo blanco */
  width: 100px; /* Asegura que ambos botones tengan el mismo ancho */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card-header .icon img {
  width: 14px; /* Ajusta el tamaño del icono de + aquí */
  height: 14px; /* Ajusta el tamaño del icono de + aquí */
}

.card-body .icon img {
  width: 24px; /* Tamaño de los otros iconos */
  height: auto;
}

input {
  width: 100%;
  padding: 10px;
  border: 2px solid #C5C5C5;
  border-radius: 15px;
}

.cancel-button {
  border-color: #E280BE;
  color: #C5C5C5;
}

.cancel-button:hover {
  background-color: #E280BE;
  color: #ffffff;
}

.create-button {
  border-color: #01BEDB;
  color: #C5C5C5;
}

.create-button:hover {
  background-color: #01BEDB;
  color: #ffffff;
}
