<div class="card">
  <div class="card-header">
    <i class="icon"><img src="../../assets/Img/Icon_crear.svg" alt="Icono Más"></i>
  </div>
  <div class="card-body">
    <div class="card-item">
      <i class="icon"><img src="../../assets/Img/Icon_vehiculo.svg" alt="Icono Car"></i>
      <input type="text" placeholder="Mazda">
    </div>
    <div class="card-item">
      <i class="icon"><img src="../../assets/Img/Icon_puntoubicacion.svg" alt="Icono Location"></i>
      <input type="text" placeholder="Chapínero">
    </div>
    <div class="card-item">
      <i class="icon"><img src="../../assets/Img/Icon_persona.svg" alt="Icono Person"></i>
      <input type="text" placeholder="David Sandoval">
    </div>
  </div>
</div>
