<div class="home-container">
  <header>
    <img src="assets/Img/Imagologo_motion.svg" alt="Logo" class="logo">
  </header>
  <div class="title-container">
    <h1 class="title">BIENVENIDO A</h1>
    <h2 class="subtitle">MONITORING INNOVATION</h2>
  </div>
  <div class="splashwaveanimation">
    <div class="splash-wave-1"></div>
    <div class="splash-wave-2"></div>
    <div class="splash-wave-3"></div>
    <div class="splash-wave-4"></div>
  </div>
  <div class="footer-links">
    <a href="https://monitoringinnovation.com/" target="_blank">MONITORINGINNOVATION</a>
    <a href="https://gpscontrol.co/" target="_blank">GPS CONTROL</a>
    <a href="https://github.com/darkelian/GPS-Control-Frontend" target="_blank">Link repo front</a>
    <a href="https://github.com/darkelian/GPS-Control-Backend" target="_blank">Link repo back</a>
  </div>
</div>
