.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  scroll-behavior: smooth;
}
.layout-container {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.layout-container.fade-in {
  opacity: 1;
}
