.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.logo-container img {
  width: 150px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  padding-bottom: 5%;
}
