.custom-table {
  width: 600px;
}

.custom-table-body {
  padding: 0px 15px;
}

.custom-table-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;

  .custom-table-cell-header {
    background-color: #E280BE;
    padding: 5px 24px;
    color: white;
    margin: 0px 5px;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
  }
}

.cs1,
.cs2 {
  width: 25%;
  color: #C5C5C5;
}

.cs3 {
  width: 50%;
  color: #C5C5C5;
}

.custom-table-row {
  display: flex;
  align-items: center;

  .custom-table-cell {
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid #E280BE;
    height: 50px;
    overflow: hidden;

    p {
      padding: 0px;
      margin: 0px;
      width: 100%;
    }

    .click-items {
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: center;
      height: 100%;

      a {
        width: 20px;
        margin: 0px 10px;
      }

    }

  }
}

.icon-edit-alt {
  content: url('../../assets/Img/Icon_editar.svg');
  /* Ruta del nuevo ícono de editar */
}

.icon-delete-alt {
  content: url('../../assets/Img/Icon_eliminar.svg');
  /* Ruta del nuevo ícono de eliminar */
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
