<div class="custom-table">
  <div class="custom-table-header">
      <div class="custom-table-cell-header cs1">Marca</div>
      <div class="custom-table-cell-header cs2">Sucursal</div>
      <div class="custom-table-cell-header cs3">Aspirante</div>
  </div>
  <div class="custom-table-body">
    <div *ngFor="let item of rows" class="custom-table-row">
      <div class="custom-table-cell cs1">{{ item.marca }}</div>
      <div class="custom-table-cell cs2">{{ item.sucursal }}</div>
      <div class="custom-table-cell cs3">
        <p>{{ item.aspirante }}</p>
        <div class="click-items">
          <a href="#"><img src="../../assets/Img/Icon_editar1.svg" alt="Editar" class="icon"></a>
          <a href="#"><img src="../../assets/Img/Icon_eliminar1.svg" alt="Eliminar" class="icon"></a>
        </div>
      </div>
    </div>
  </div>
</div>

